<html>

<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <style type="text/css">
        .login-card{
            margin-top: 100px;
        }
    </style>
</head>

<body>
    <div class="container md-4">
        {% block content %}
        {% endblock %}
    </div>

     <script src="/static/js/jquery-3.5.1.min.js"></script>
     <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>

</html>
